.conference-room{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: black;
}
.local-video{
    position: absolute;
     right: 15px;
     bottom: 15px;
    height: 20%;
    margin:0;
   
}
.video-section{
    height: inherit;
    display: flex;   
}
#remote-videos{
    position: relative;
    max-width: 100%;
    width:100%;
display: flex;    
}
.video{
    width: 100%;
    min-width: 33.3%;
    min-height: 33.3%;
}
/* .fill-screen{
object-fit: fill;
} */
.chat-top{
    height: inherit;
    overflow-y: scroll;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.chat{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-message-name{
    margin:5px 0;
    font-size: .8rem;
    font-weight: 600;
}
.chat-message{
    margin: 0;
    padding: 5px 10px 15px;
    font-size: .75rem;

}

#chat-message-container{
    display: flex;
    margin: 10px 0;
}
.container-received{
flex-direction: row-reverse;
}
.chat-message-top{
    padding: 0 7px;
display: flex;
align-items: flex-end;
}
.chat-message-bottom{
    width: 100%;
}
.chat-img{
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 30px;
 background: gray;
}

.sent{
    border-radius: 6px 6px 6px 0;
    background: lightgray;

    
}
.received{
    border-radius: 6px 6px 0 6px;
    background: blue;

}
.chat-btn{
    border: none;
    width: 20%;
    background: #29cb74;

}
.chat-input{
    outline:none;
    width: 80%;
    border:none;
    padding: 5px;
}
.chat-controls{
    height: 40px;
    border: solid thin lightgray;
    display: flex;
}
.time-stamp{
    margin: 0;
    font-size: .6rem;
}
.time-stamp-received{
    text-align: right;
}